<app-menu></app-menu>

<div class="container">

    <nav class="mb-5">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">Projetos</li>
        </ol>
    </nav>

    <div class="col-md">
        <a routerLink="cadastrar-projeto" class="btn btn-success float-right">
            + Novo Projeto
        </a>
    </div>

    <div>
        <ul>
            <li *ngFor="let item of items">
                <a routerLink="{{ item }}">
                    {{ item }}
                </a>
            </li>
          </ul>
    </div>
</div>